// Цвета
$white: #ffffff;
$black: #000000;
$vantablack: #000101;
$abaddon-black: #231f20;
$goshawk-grey: #444444;
$namara-grey: #7c7c7c;
$brainstem-grey: #b3b3b3;
$silver-polish-dark: #c7c7c7;
$silver-polish: #c6c6c6;
$cold-morning: #e5e5e5;
$coronation: #ececec;
$hotot-bunny: #f1f1f1;
$doctor: #f9f9f9;
$dr-white: #fafafa;
$sweet-garden: #59d5bc;
$sweet-garden-dark: #62d1ba;
$jamaican-jade: #63d1bb;
$cockatoo: #56c3b2;
$melbourne-cup: #46c1ae;
$miami-jade: #149080;
$transparent: rgba(255, 255, 255, 0);

// Шрифт
$font-OpenSans: "OpenSans", "Arial", sans-serif;

// Viewports
$vp-768: 768px;
$vp-1150: 1150px;
